<footer>
  <div class="content container">
    <div class="row">

      <div class="col-sm-6">
        <div>
          CALL ME AT
          <h3 class="phone">(249)-359-1044</h3>
        </div>
      </div>

      <div class="col-sm-6">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</footer>
