<div class="sticky-wrapper">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-btn btn-sm navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand scroll-to" href="#intro">DHVANIT</a>
      </div>

      <div id="navigation" class="collapse navbar-collapse navbar-left">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#intro">DHVANIT</a>
          </li>
        </ul>
      </div>

      <div id="navigation" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#services">Skills</a></li>
          <li><a href="#portfolio">Projects</a></li>
          <li><a href="#xp">Work Xp</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
