<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iammerchant</title>
    <link rel="icon" type="image/png" sizes="64x64" href="/img/dm-logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="/css/ekko-lightbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
  


    <!-- Flash messages -->
    <% if (flash.success.length) { %>
        <div class="alert alert-success"><%= flash.success.join('<br>') %></div>
    <% } %>
    <% if (flash.error.length) { %>
        <div class="alert alert-danger"><%= flash.error.join('<br>') %></div>
    <% } %>

    <!-- Page Content -->
    <%- body %>

    <!-- JS -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Particles.js library -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script src="/js/front.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   



    <script>
  emailjs.init("user_LZpCELjZBVGE1nvhqLa6I");

  const form = document.getElementById("contact-form");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    Swal.fire({
      title: "Sending...",
      text: "Please wait",
      allowOutsideClick: false,
      didOpen: () => {
        Swal.showLoading();
      },
    });

    emailjs
      .sendForm("service_u3yzrxb", "template_5uh7vex", this)
      .then(() => {
        Swal.fire({
          icon: "success",
          title: "Message Sent!",
          background: "#0b0f1a",
          color: "#fff",
          text: "I’ll get back to you soon 😊",
          confirmButtonText: "Okay",
          confirmButtonColor: "#00ffb3",

        });
        form.reset();
      })
      .catch((err) => {
        console.error(err);
        Swal.fire({
          icon: "error",
          title: "Oops!",
          text: "Something went wrong. Please try again.",
        });
      });
  });
</script>

</body>

</html>
